/* styles.css */
.PopoverTrigger {
  background-color: rgba(6, 150, 116, 0.655);
  border-radius: 4px;
  padding: 3px;
}

.PopoverContent {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: rgb(189, 255, 109);
}

.PopoverArrow {
  fill: rgb(91, 138, 3);
}
